:root {
  --accent-dark-blue: rgba(17, 24, 39, 1);
  --accent-blue: #165E9E;
  --accent-orange: #f9aa4b;
  --ligh-gray: rgb(46, 53, 63)
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--accent-dark-blue)
}

main {
  flex: 1;
}

footer {
  background: var(--accent-orange);
  padding: 10px;
  text-align: center;
}